# [{{ project_name }}]({{ page }}/book)

This repository has been created using the [cradle](https://github.com/cvxgrp/cradle) cli.

[![Open in GitHub Codespaces](https://github.com/codespaces/badge.svg)](https://codespaces.new/{{ username }}/{{ project_name }})
