name: "book"

on:
- push


permissions:
    checks: write
    contents: read

jobs:

  marimo:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: "Build the virtual environment"
        uses: ./.github/actions/environment

      - uses: tschm/cradle/actions/marimo@main
        with:
          source_folder: book/marimo

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: "Build the virtual environment"
        uses: ./.github/actions/environment

      - uses: tschm/cradle/actions/pdoc@main
        with:
          source-folder: src/{{ project_name }}


  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: "Build the virtual environment"
        uses: ./.github/actions/environment

      - uses: tschm/cradle/actions/coverage@main
        with:
          tests-folder: src/tests
          source-folder: src/{{ project_name }}
          coveralls: 'false'

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: "Build the virtual environment"
        uses: ./.github/actions/environment

      - uses: tschm/cradle/actions/jupyter@main

  book:
    runs-on: "ubuntu-latest"
    needs: [test, pdoc, jupyter, marimo]

    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Upload the book
        if: ${% raw %}{{ env.ACT != 'true' }}{% endraw %}  # Skip if running with 'act'
        uses: tschm/cradle/actions/book@main
