# Continuous Integration workflow to run tests
# This workflow runs automatically on every push to the repository

name: "ci"

on:
- push  # Trigger on push events

jobs:
  # Job to run tests across multiple Python versions
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Define matrix strategy for testing across multiple Python versions
    strategy:
      matrix:
        os: [ ubuntu-latest ]  # Currently only testing on Ubuntu
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]  # Test on multiple Python versions

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: "Build the virtual environment"
        uses: tschm/cradle/actions/environment@v0.1.72  # Custom action to set up Python environment
        with:
          python-version: ${{ matrix.python-version }}  # Use Python version from matrix

      - uses: tschm/cradle/actions/test@v0.1.72  # Custom action to run tests
        with:
          tests-folder: src/tests  # Folder containing the tests to run
