name: pre-commit

on:
  push:

permissions:
  checks: write
  contents: read

jobs:
  deptry:
    runs-on: ubuntu-latest
    steps:
      - name: "Build the virtual environment"
        uses: cvxgrp/.github/actions/environment@v2.2.4

      - uses: cvxgrp/.github/actions/deptry@v2.2.4
        with:
          source-folder: src/{{ project_name }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: cvxgrp/.github/actions/pre-commit@v2.2.4
