name: Build and Release

on:
  # Trigger on manual dispatch
  workflow_dispatch

permissions:
  contents: write
  packages: write

jobs:
  tagging:
    runs-on: ubuntu-latest
    outputs:
      new_tag: {% raw %}${{ steps.tag.outputs.new_tag }}{% endraw %}

    steps:
      - name: Generate Tag
        id: tag
        uses: tschm/cradle/actions/tag@v0.1.64
        with:
          github_token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

{% if use_latex %}
  latex:
    runs-on: ubuntu-latest
    needs: tagging
    steps:
      - name: "Output tag"
        run: |
          echo "Tag: {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}"

      - name: "Build and publish the LaTeX document"
        uses: tschm/cradle/actions/latex@v0.1.64
        with:
          paper: paper/document.tex
          tag: {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}
{% endif %}


  debug:
    runs-on: ubuntu-latest
    needs: tagging
    steps:
      - name: Output
        run: |
          echo "Repository {% raw %}${{ github.repository }}{% endraw %}"
          echo "Tag {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}"
