# Workflow to build and release project artifacts
# This workflow is manually triggered via the GitHub UI

name: Build and Release

on:
  # Trigger on manual dispatch
  workflow_dispatch

# Permissions needed for the workflow
permissions:
  contents: write  # Allows the workflow to write to the repository (create tags)
  packages: write  # Allows the workflow to write to GitHub Packages (for Docker images)

jobs:
  # Job to generate a new version tag
  tagging:
    runs-on: ubuntu-latest
    outputs:
      new_tag: {% raw %}${{ steps.tag.outputs.new_tag }}{% endraw %}  # Output the new tag to be used by other jobs

    steps:
      - name: Generate Tag
        id: tag
        uses: tschm/cradle/actions/tag@v0.1.68  # Custom action to generate a new tag
        with:
          github_token: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}  # GitHub token for authentication

{% if use_latex %}
  # Job to build and publish LaTeX document (only included if use_latex is true)
  latex:
    runs-on: ubuntu-latest
    needs: tagging  # This job depends on the tagging job
    steps:
      - name: "Output tag"
        run: |
          echo "Tag: {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}"  # Print the new tag

      - name: "Build and publish the LaTeX document"
        uses: tschm/cradle/actions/latex@v0.1.68  # Custom action to build LaTeX documents
        with:
          paper: paper/document.tex  # Path to the LaTeX document to build
          tag: {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}  # Tag from the tagging job
{% endif %}

  # Job to display debugging information
  debug:
    runs-on: ubuntu-latest
    needs: tagging  # This job depends on the tagging job
    steps:
      - name: Output
        run: |
          echo "Repository {% raw %}${{ github.repository }}{% endraw %}"  # Print the repository name
          echo "Tag {% raw %}${{ needs.tagging.outputs.new_tag }}{% endraw %}"  # Print the new tag
